@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
body {
	background: linear-gradient(#1d1d1d, #3a3a3a);
}

.alert {
	margin: 5px;
	text-align: center;
}

/*
.todo-item:hover {
	transition: background-color 0.2;
	background-color: rgb(57, 70, 245);
} */
#btn-todo {
	margin-right: 5%;
}

.bg-success {
	opacity: 0.5;
}
.btn {
	padding: 5px;
}

#socialsregister .btn {}